body {
    background: aliceblue;
    margin: 0;
    padding: 0;
}

#header-contend {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #001F3F;
    box-shadow: 1px 3px 6px black;
    font-size: 1.5rem;
    font-family: sans-serif;
    z-index: 20;
    color: aliceblue;
}

#container-head-main-right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 2px 20px 1px 1px;
}

#container-head-main-right p {
    border-bottom: solid 3px aliceblue;
    border-radius: 6px 0px 0px 6px;
}

#container-head-main-left {
    margin: 2px 2px 1px 20px;
}

#container-head-main-left p {
    border-bottom: solid 3px aliceblue;
    border-radius: 6px 0px 0px 6px;
}


/**/


/**/


/**/


/**/

#main-contend {
    position: relative;
    top: 1rem;
    font-family: sans-serif
}

#title-main {
    text-align: center;
}

#title-text-main {
    font-size: 6rem;
}

#descrip-contend {
    position: relative;
    top: -2rem;
    font-size: 1.5rem;
    width: 30rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#container-img {
    position: relative;
    top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.img-cards {
    width: 100%;
    filter: brightness(50%);
    box-shadow: 0px 3px 6px black;
}

#container-text {
    position: relative;
    top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    text-align: center;
    font-size: 1rem;
}


/**/


/**/


/**/


/**/

#footer-contend {
    position: relative;
    top: 3rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    background: #001F3F;
    width: 100%;
    color: #F5F5DC;
    font-family: sans-serif;
}