body {
    background: aliceblue;
    margin: 0;
    padding: 0;
}

#header-contend {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #001F3F;
    box-shadow: 1px 3px 6px black;
    font-size: 1.5rem;
    font-family: sans-serif;
    z-index: 20;
    color: aliceblue;
}

#container-head-main-right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 2px 20px 1px 1px;
}

#container-head-main-right p {
    border-bottom: solid 3px aliceblue;
    border-radius: 6px 0px 0px 6px;
}

#container-head-main-left {
    margin: 2px 2px 1px 20px;
}

#container-head-main-left p {
    border-bottom: solid 3px aliceblue;
    border-radius: 6px 0px 0px 6px;
}


/**/


/**/


/**/


/**/


/**/

#container-all {
    position: relative;
    top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0rem;
    justify-self: center;
    text-align: center;
    font-size: 2rem;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0rem 0rem 0rem 0rem;
}

#container-center {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(src\(costura\)/constructor-industrial-trabaja_vertical.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-self: center;
    width: 100%;
    color: aliceblue;
}

#container-left {
    width: 28rem;
    justify-self: start;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

#container-right {
    width: 28rem;
    justify-self: end;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

#boton-more-service {
    border: none;
    background: #001F3F;
    font-size: 2rem;
    border-radius: 2rem;
    color: aliceblue;
}